<launch>
    <!-- include file="$(find imu_vn_100)/launch/vn_100_cont.launch" / -->
    <rosparam file="$(find uav_control)/params/odroid.yaml" />
    <param name="uav_name" value="Maya"/>
    <param name="motor_address" value="41,42,43,44" />
    <param name="dt" value="0.01" />
    <node name="Jetson" pkg="uav_control" type="node.py" respawn="false" output="screen">
    </node>
</launch>
